body{
    background-color: #f5dcb8;
}

.navbar{
    color: #77d3b0;
    font-size: 18px;
    padding: 35px;
}

h2{
    text-align: center;
    font-weight: 800;
}

h3{
    text-align: center;
    font-weight: 420;
}

#pad{
    background-color: rgb(242, 250, 246);
}

#head{
    background-color: rgb(29, 143, 99);
    color: rgb(225, 245, 235);
    padding: 25px;
    margin-top: 0;
}